.action {
  border: solid 1px var(--darkGreen);
  margin: 25px 0;
  padding: 15px 10px;
  background-color: color-mix(in srgb, var(--lightGreen) 30%, var(--white) 70%);
  border-radius: 7px;
  margin: 1.2em 0;
}

.actionHeader,
.actionFooter {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.actionHeader h3 {
  color: var(--darkGreen);
}

.actionSection {
  padding: 1.2em 25rem;
}
